body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
.image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
.inscrir {
  text-align: center;
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 20px auto;
  border-radius: 15px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
h1{
  size: 10;
  color: 4E71FF;
}

h2 {
  align-content: center;
  text-align: center;
}
.itineraire {

  margin-top: 20px;
  background-color: #a8a8a844;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.itineraire p{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(188, 194, 203);

}
div nav a:hover{
  color:#4c3925;
  text-decoration: underline;}

.itineraire img,p {
  margin-left: 15px;
  margin-top: 15px;
}

.itineraire img{
  border-radius: 15px;
  width:230px;
  height: 200px;
}

